---
import Sidebar from "../components/SideBar.astro";

interface Props {
  title: string;
  container?: string;
  active?: "Home" | "Chat" | "Rooms" | "Profile" | "Logout";
}

const { title, container = "max-w-6xl", active } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baskervville:wght@400..700&family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="flex min-h-screen">
      <Sidebar active={active} />

      <!-- Main -->
      <main class={`${container} md:ml-30 ml-0 flex-1 overflow-auto`}>
        <slot />
      </main>
    </div>

    <script>
      import { initializeSocket } from "../lib/socket";

      // Initialize socket globally so the user appears online on any page using this layout.
      // Thanks to the singleton pattern in socket.ts, the chat page will just reuse this existing connection.
      initializeSocket("http://localhost:3000");
    </script>
  </body>
</html>
