---

// ROOMS PAGE


import MainLayout from '../../layouts/MainLayout.astro';
import SearchField from '../../components/SearchField.astro';
import ChatListItem from '../../components/ChatListItem.astro';
import ChatWindow from '../../components/ChatWindow.astro';

import Button from '../../components/Button.astro';

import RoomsIcon from '../../assets/icon/green/rooms.svg?url';
import PlusIcon from '../../assets/icon/outlined/plus.svg?url';

import InviteModal from '../../components/InviteModal.astro';

const { id } = Astro.params;
---

<MainLayout title="Rooms" active="Rooms" container="w-full">
  <div class="flex h-screen">

    <!-- LEFT -->
    <div class="w-100 p-4 flex flex-col shadow-lg">

      <div class="flex flex-row justify-between items-center">

      <h1 class="text-3xl font-bold mb-4 flex items-center gap-2 text-primary-60">
        <img src={RoomsIcon} alt="Rooms" class="h-8 w-8" />
        Rooms
      </h1>

      <Button id="open-invite-modal" variant="primary" class="text-sm mb-4 cursor-pointer">
        <img src={PlusIcon} alt="Add Room" class="h-5 w-5" />
        Add Room
      </Button>
      </div>

      <SearchField placeholder="Search rooms..." />

      <div class="mt-4 space-y-2 overflow-y-auto flex-1">

        <ChatListItem
          avatar="/assets/images/user1.jpg"
          name="Australia VS Turkey"
          status="online"
          timestamp="2:30 PM"
          unread={3}
          href="/rooms/1"
        />

        <ChatListItem
          avatar="/assets/images/user2.jpg"
          name="Brazil Fans"
          status="online"
          timestamp="1:45 PM"
          href="/rooms/2"
        />

        <ChatListItem
          avatar="/assets/images/user3.jpg"
          name="Germany is the best"
          status="online"
          timestamp="12:00 PM"
          href="/rooms/3"
        />

      </div>
    </div>

    <!-- RIGHT -->
    <div class="flex-1 bg-gray-100 relative">

      <p class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-gray-400 text-lg text-center">
        Select a chat to start messaging
      </p>

    </div>

  </div>
<InviteModal />
</MainLayout>

<script>
  document.getElementById('open-invite-modal')?.addEventListener('click', () => {
    document.dispatchEvent(new CustomEvent('open-invite-modal'));
  });
</script>