---
interface Props {
  name: string;
  image: string;
}

const { name, image } = Astro.props as Props;

const initials = name
  .split(" ")
  .map((part) => part[0])
  .join("")
  .toUpperCase();

  const bgColors = [
    "bg-red-500",
    "bg-green-500",
    "bg-blue-500",
    "bg-yellow-500",
    "bg-purple-500",
    "bg-pink-500",
    "bg-indigo-500",
  ];

const colorIndex = name
  .split("")
  .reduce((acc, char) => acc + char.charCodeAt(0), 0) % bgColors.length;
const bgColor = bgColors[colorIndex];


---

<span class={`inline-flex h-10 w-10 items-center justify-center rounded-full ${bgColor} text-white font-medium`}>
  {initials}
</span>


