---
import "../styles/global.css";

import logo from "../assets/logo.svg?url";

import homeOutlined from "../assets/icon/outlined/home.svg?url";
import chatOutlined from "../assets/icon/outlined/chat.svg?url";
import roomsOutlined from "../assets/icon/outlined/rooms.svg?url";
import profileOutlined from "../assets/icon/outlined/profile.svg?url";
import logoutOutlined from "../assets/icon/outlined/logout.svg?url";

import homeFilled from "../assets/icon/filled/home.svg?url";
import chatFilled from "../assets/icon/filled/chat.svg?url";
import roomsFilled from "../assets/icon/filled/rooms.svg?url";
import profileFilled from "../assets/icon/filled/profile.svg?url";


interface Props {
  active?: "Home" | "Chat" | "Rooms" | "Profile" | "Logout";
}

const { active } = Astro.props as Props;

const links = [
  {
    name: 'Home',
    outlinedIcon: homeOutlined,
    filledIcon: homeFilled,
    href: '/home',
  },
  {
    name: 'Chat',
    outlinedIcon: chatOutlined,
    filledIcon: chatFilled,
    href: '/chat',
  },
  {
    name: 'Rooms',
    outlinedIcon: roomsOutlined,
    filledIcon: roomsFilled,
    href: '/rooms',
  },
  {
    name: 'Profile',
    outlinedIcon: profileOutlined,
    filledIcon: profileFilled,
    href: '/profile',
  },
  {
    name: 'Logout',
    outlinedIcon: logoutOutlined,
    href: 'http://localhost:3000/api/auth/logout',
  },
];
---

<aside
  class="
    fixed bottom-0 left-0 right-0 z-20
    h-16 bg-primary-60 shadow-2xl
    flex flex-row justify-center items-center gap-8

    md:top-0 md:left-0 md:right-auto md:bottom-auto
    md:h-screen md:w-30
    md:flex-col md:justify-start md:items-center
    md:p-6 md:gap-10
  "
>
  <div class="hidden md:flex mb-10 items-center justify-center">
    <img src={logo} alt="MatchDay Logo" class="h-26 w-18" loading="eager" 
     fetchpriority="high" />
  </div>

  <nav
    class="
      flex flex-row gap-8
      md:flex-col md:space-y-4 md:gap-0
    "
  >
    {
      links.map((link) => (
        <a
          href={link.href}
          class={`flex min-w-14 flex-col items-center gap-1 rounded-lg p-2 text-sm font-medium transition-colors duration-200 ${
            active === link.name
              ? "opacity-100 text-white"
              : "opacity-60 text-bg"
          }`}
        >
          <img
            src={active === link.name ? link.filledIcon : link.outlinedIcon}
            alt={`${link.name} icon`}
            class="w-6"
          />
          <span class="text-xs">{link.name}</span>
        </a>
      ))
    }
  </nav>
</aside>